$black : #000000;
$white: #ffffff;
$dark-blue : #25396f;
$red: #ff5775 ;
$border-gray : #d8e4f2;
$light-gray: #f2f5ff;
$active-color: #a974ff;
$green: #58b9ff;
$gray: #a3b6e1;
$dark-gray : #a9bae3;
$medium-gray: #f6faff;
$scroll-gray: #b4bac6;
$scroll-dark-gray : #8f98aa;
$light-purple: #b087f9;
$box-shadow: #f7f8fd;
