@import 'myApp';

.side-filter-iner{
  padding: 0px 40px;
  height: 100%;
  position: relative;
  .tools-wrapper{
    display: flex;
    justify-content: space-between;
    .search{
      border: 2px solid $border-gray;
    height: 60px;
    border-radius: 31px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    .icon{
      font-size: 25px;
      color: $dark-gray;
      margin-bottom: 5px;

    }
    input{
      width: 80%;
      border: none;
      background-color: transparent;
      border-radius: 30px;
      height: 100%;
      padding: 0px 10px;
      color: $dark-gray;
    }
    input::placeholder{
      color: $dark-gray;
      font-size: 18px;
    }
    input:focus{
      outline: none;
    }
    }


      .notification{
        border: 2px solid $border-gray;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $gray;
      position: relative;
      cursor: pointer;
        i{
          display: flex;
          font-size: 25px;
        }
        .red-dot{
          width: 8px;
          height: 8px;
          position: absolute;
          background-color: $red;
          border-radius: 50%;
          top: 21px;
          left: 32px;
        }
      }
      .upload{
        border: 2px solid $border-gray;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $white;
      position: relative;
      background-color: $green;
      cursor: pointer;
        i{
          font-size: 25px;
        }
      }
    }

    // .suggested-persons{
    //   margin-top: 50px;

    //   .suggested-title{
    //     display: flex;
    //     justify-content: space-between;
    //     font-weight: bold;
    //     font-size: 18px;
    //     .title{
    //     }
    //     .see-all{
    //       color: $active-color;
    //       cursor: pointer;
    //     }
    //   }
    //   .persons-wrapper{
    //     padding: 30px 0px 0px;
    //     .single-person{
    //       margin-bottom: 20px;
    //     }
    //   }
    // }

    hr{
      border: 1px solid $border-gray;
    }
    // .latest-post{
    //   margin-top: 50px;
    //   .title{
    //     font-weight: bold;
    //     font-size: 18px;
    //     margin-bottom: 30px;
    //   }
    //   .post-wrapper{
    //     padding: 20px;
    //     background-color: $medium-gray;
    //     border: 3px solid $white;
    //     border-radius: 15px;
    //   }
    // }

    .footer-wrapper{
      font-size: 14px;
      color: $gray;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      .text{
        cursor: pointer;
      }
      .dot{
        margin: 0px 5px;
      }
    }
  }

