<div class="post-iner-wrappper">
  <div class="post-details">
    <div class="post-img">
      <img src="https://st.depositphotos.com/2692701/3194/i/450/depositphotos_31946457-stock-photo-scenic-lake.jpg">
    </div>
    <div class="post-statistics">
      <div class="title">Post Title</div>
      <div class="post-likes">
        <span class="icon-number heart">
          <i class="fa fa-heart"></i>
          <span class="number">10</span>
        </span>
        <span  class="icon-number">
          <i class="fa fa-comment icon"></i>
          <span  class="number">5</span>
        </span>
        <span  class="icon-number">
          <i class="fa fa-bookmark icon"></i>
          <span  class="number">15</span>
        </span>
      </div>
    </div>
  </div>
  <div class="see-all">See All Posts</div>
</div>
