@import 'myApp';

.card-iner-wrapper{
  // width: 450px;
  .post-image{
    // width: 450px;
    img{
      width: 100%;
      border-radius: 20px;
      border: 3px solid $white;
    }
  }
  .post-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .poster{
      display: flex;
    align-items: center;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: fill;
      }
      .poster-name{
        margin: 0px 10px;
        font-size: 18px;
        font-weight: bold;
        color: $dark-blue;
      }
    }
    .post-likes{
      color: $gray;
    font-size: 25px;
      .icon-number{
        margin: 0px 10px;
        i{
          margin: 0px 10px;
          cursor: pointer;
        }
        .number{
          font-size: 20px;
        }
      }
      .heart{
        color: $red;
      }
    }
  }
}
